{# templates/sidebar/sidebar.html.twig #}
 
{% block sidebar %}

    <!--| Display TagCloud |-->
    {{ render(path('tagCloud')) }}

	<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>
        <p>There are no recent comments</p>
	</section>
{% endblock %}