{% for category in categories %}

{% set counter = category.subCategories|length %}

		{% if counter > 0 %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#337ab7">
			{{ category.title }}
			<span class="caret"></span>
			</a>
	    {% else %}
	    <li>
	    	<a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" style="color:#337ab7">
	    	{{ category.title }}
	    	</a>
    	</li>
	    {% endif %}
	    
	    {% if counter > 0 %}
	    <ul class="dropdown-menu">
		    {% for sub_category in category.subCategories %}
		        <li>
		        	<a href='#' style="color:#337ab7">{{ sub_category.title }}</a>
	        	</li>
		    {% endfor %}
	    </ul>
	    {% endif %}
{% endfor %}